[Unit]
Description=NESPi Watcher Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=soso
Group=soso
WorkingDirectory=__PROJECT_DIR__
Environment=PYTHONUNBUFFERED=1
ExecStart=__PROJECT_DIR__/.venv/bin/python __PROJECT_DIR__/app.py
Restart=always
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ReadWritePaths=__PROJECT_DIR__

[Install]
WantedBy=multi-user.target
